# ==================== 核心框架 ====================
fastapi==0.115.12  #FastAPI
uvicorn==0.34.1 #启动FastAPI需要的服务器
starlette==0.46.2 #轻量级高性能python asgi web 框架 理解为FastAPI的底层依赖
python-multipart==0.0.20 #FastAPI/StarAPI 实现文件上传必备依赖，没有它就无法接收前端上传的文件。

# ==================== 数据库 ====================
sqlalchemy==2.0.35 #Python 数据库万能工具，提供 ORM 简化数据库操作
asyncpg==0.29.0 #PostgreSQL 专用异步驱动，给异步项目提供数据库连接
psycopg2-binary==2.9.9 #数据库标准同步驱动
alembic==1.15.2 #SQLAlchemy 官方配套数据库迁移工具,相当于数据库的版本控制系统（git）

# ==================== 认证安全 ====================
passlib==1.7.4 #密码加密库，是登录鉴权的必备依赖
python-jose==3.4.0 #用于签发和校验JWT登录令牌

# ==================== 数据验证 ====================
pydantic==2.11.3 #自动数据校验，数据解析，类型转换
pydantic-settings==2.8.1 #统一加载多来源配置，自动读取.env文件与系统环境变量
python-dotenv==1.1.0 #读取本地.env配置文件，将配置注入系统环境变量
email-validator==2.2.0 #Pydantic 邮箱校验专用底层依赖，提供标准、严谨的邮箱格式验证，用户注册模块必备
#拦截错误邮箱、确保邮件能正常发送、保证数据库数据干净、简化开发不用手写正则校验。
# ==================== 缓存 ====================
redis==5.2.1 #Redis数据库
